<div class="titleEl"><%= @apiContent['desc'] %></div>
<br>
<div id="current-path">
Current path <%= @apiContent['data']['current'] %>
</div>
<br>
<div class="music-action"><p id="del-all" class="m-a" onclick="modifAll('delete');">Remove all element from playlist</p><p id="app-all" class="m-a" onclick="modifAll('append');">Append all current element in playlist</p></div>
<div id="list_el">
<% @apiContent['data']['dir'].each do |element, name| %>
  <div class="dir_el">
    <i class="ico-fa fa fa-folder"></i>
    <div class="ico-fa ico-pt dir" data-name="<%= name %>">
      <%= element %>
    </div>
  </div>
<% end %>
<br/>
<% @apiContent['data']['files'].each do |element, name| %>
  <div class="dir_el">
    <i class="ico-fa ico-pt fa fa-plus-circle"></i><i class="ico-fa ico-pt fa fa-play-circle"></i>
    <div class="ico-fa file" data-path="<%= name %>" data-name="<%= element %>">
    <%= element %>
    </div>
  </div>
<% end %>
</div>
