<div class="titleEl"><%= @apiContent['desc'] %></div>
<% if @apiContent['data'].is_a? Hash %>
    <% @apiContent['data'].each do |k, v| %>
      <br /><br /><%= k %><br /><hr>
      <%= form_tag("/api/user_#{@apiContent['type'][1]}", method: "get") do %>
        <% if @apiContent['type'][1] == "add" %>
          <%= label_tag(:name) %>:
          <%= text_field_tag(:name, '', class: 'editable') %>
        <% else %>
          <%= hidden_field_tag(:name, k) %>
        <% end %>
      <% v.each do |field,content| %>
        <% if field == "password" %>
          <%= label_tag(:"#{field}", "#{field}") %>:
          <%= password_field_tag(:"#{field}", content, id: "#{field}-#{k}", class: 'editable') %>
          <div id="genPwdArea-<%= k %>" class="generate"><button id="genPwdButton-<%= k %>" >Generate</button><div id="genPwdClear-<%= k %>" class="passClear">N/a</div></div>
        <% elsif field == "admin" %>
          <%= label_tag(:"#{field}", "#{field}") %>:
          <% if content == 1 %>
           <%= check_box_tag(:"#{field}", "is_admin", :checked) %>
          <% else %>
           <%= check_box_tag(:"#{field}", "is_admin") %>
          <% end %>
        <% else %>
          <%= label_tag(:"#{field}", "#{field}") %>:
          <%= text_field_tag(:"#{field}", '', class: 'editable') %>
        <%end %>
      <% end %>
      <%= submit_tag("Submit", disabled: true, class: "submit", id: "modif") %>
      <% if k != "admin" and not @apiContent['type'][1] == "add"%>
        <button class="deleteEntry" id="delete-<%= k %>">Delete</button>
      <% end %>
    <% end %>
  <% end %>
<% end %>
